* {
    margin: 0%;
    padding: 0%;
}


main {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: #6C7A89;
    width: 100vw;
    height: 100vh;
}

article.container-conta {
    width: auto;
    height: 45%;
    background: #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    box-shadow: 0px 0px 10px black;
}

section.input-conta {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

div.valores {
    margin-top: -30%;
    padding: 10px;
}

div.valores h1 {
    margin: 20px;
}

#altura {
    width: 35%;
    height: 30px;
}
#comprimento {
    width: 35%;
    height: 30px;
}


div.quantidades {
    align-items: center;
}

div.container-btn {
    margin: 5px;
}

.btn {
    padding: 5px;
    margin: 5px;
    width: 90px;
}

.resultado {
    margin-bottom: -40px;
}